# Copy this file to .env.local and configure your settings
KEY: '8fd9e897-b67a-410d-acb2-532fd689a7be'
SECRET: '4c75dcfe-8f2b-498d-a3fd-e776a892faba'

# DB_SSL__CA: './database/ca-certificate.crt'
# DB_SSL__REJECT_UNAUTHORIZED: 'false'
DB_CLIENT: 'pg'
DB_HOST: 'host.docker.internal'
DB_PORT: '54322'
DB_DATABASE: 'postgres'
DB_USER: 'postgres'
DB_PASSWORD: 'postgres'
POSTGRES_DB: 'postgres'
POSTGRES_USER: 'postgres'
POSTGRES_PASSWORD: 'postgres'
DB_SEARCH_PATH: 'directus,public,extensions'
#   DB_SCHEMA: 'directus'
#   DB_CUSTOM_SCHEMA: "directus"
#   DB_SEARCH_PATH: "array:directus,public"
DB_SSLMODE: 'disable'

CACHE_ENABLED: 'true'
CACHE_STORE: 'redis'
# CACHE_REDIS: 'redis://cache:6379'
REDIS_HOST='cache'
REDIS_PORT='6379'

ADMIN_EMAIL: 'dev@marceldarvas.com'
ADMIN_PASSWORD: 'ysWnE-Y2.BPgL@9z!nQ4GooreGfCpC!4'